<IfModule mod_rewrite.c>

RewriteEngine On
RewriteBase /dev-music/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /dev-music/index.html [L]

</IfModule>