/* Media query for max-width 1439px */
@media (max-width: 1439px) {
    /* Your CSS rules for screens smaller than or equal to 1439px */
  }
  
  /* Media query for max-width 1199px */
  @media (max-width: 1199px) {
    /* Your CSS rules for screens smaller than or equal to 1199px */
    .menu {
        gap: 20px;
    }
    
    .logo img {
        max-width: 75%;
    }
    
    .padSec {
        padding: 50px 0 0;
    }
    
    .globalHeading {
        font-size: 42px;
        line-height: 38px;
    }
  }
  
  /* Media query for max-width 991px */
  @media (max-width: 991px) {
    /* Your CSS rules for screens smaller than or equal to 991px */
  }
  
  /* Media query for max-width 767px */
  @media (max-width: 767px) {
    /* Your CSS rules for screens smaller than or equal to 767px */
  }
  