/* Media query for max-width 1439px */
@media (max-width: 1439px) {
  /* Your CSS rules for screens smaller than or equal to 1439px */
}

/* Media query for max-width 1199px */
@media (max-width: 1199px) {
  /* Header */
  .menu {
    gap: 20px;
  }

  .logo img {
    max-width: 75%;
  }

  .padSec {
    padding: 50px 0 0;
  }

  .globalHeading {
    font-size: 42px;
    line-height: 38px;
  }
}

/* Media query for max-width 991px */
@media (max-width: 991px) {
  /* Your CSS rules for screens smaller than or equal to 991px */
  .hero-prev-arrow {
    font-size: 20px;
    left: -75px;
  }

  .hero-next-arrow {
    font-size: 20px;
    right: -85px;
  }

  .globalHeading {
    font-size: 38px;
    line-height: 35px;
  }

  .logo img {
    left: 15px;
    max-width: 115px;
  }

  .poster-container {
    height: 350px;
  }

  .mess-semi-colon-1 {
    left: 26px;
    /* font-size: 15px; */
    top: 175px;
  }

  .mess-semi-colon-2 {
    right: 9px;
  }

  .colon img {
    width: 39px;
  }

  .overImgText h3 {
    font-size: 20px;
  }

  .overImgText h4 {
    font-size: 14px;
  }

  .hoverImgBox {
    padding: 0 10px;
  }

  .overImgText {
    padding: 0 15px;
  }

  .abtImagesWrap.mr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .gridviewBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Media query for max-width 767px */
@media (max-width: 767px) {
  .globalHeading {
    font-size: 28px;
    line-height: 32px;
  }

  .globalHeading.two {
    font-size: 26px;
  }

  p,
  a {
    font-size: 14px;
  }

  .overImgText h3 {
    font-size: 16px;
  }

  .overImgText h4 {
    font-size: 12px;
  }

  .InnerWraperImg:hover .overImgText {
    bottom: 6px;
  }

  .overImgText {
    padding: 0 5px;
  }

  .hoverImgBox {
    padding: 0px;
  }

  /* header */
  .logo img {
    max-width: 120px;
    max-height: 150px;
  }

  /* contact */
  .contact-common h3 {
    font-size: 17px;
  }

  /* academic off */
  .academic-common h3 {
    font-size: 20px;
  }

  /* instructor */
  .instructor-head h3 {
    font-size: 17px;
}

.instructor-head .globalHeading {
    margin-bottom: 0.5rem;
}

/* instructor end  ---------- */

  .poster-container {
    height: 200px;
  }

  .logo img {
    max-width: 100px;
  }

  .abtSec.padSec {
    padding: 20px 0 0;
  }

  .globalBtn {
    padding: 5px 20px;
  }

  .overImgText {
    padding: 20x;
  }
  .colons img {
    max-width: 50%;
  }

  .about-mess-mini {
    padding: 0 2rem;
    position: relative;
  }

  .about-mess-head h3 {
    font-size: 21px;
  }

  .mess-semi-colon-1 {
    left: -20px;
    top: -5px;
  }

  .mess-semi-colon-2 {
    right: -13px;
    bottom: 100px;
  }

  .about-keraiPic img {
    width: 130px;
    height: 130px;
  }

  .about-keraiPic {
    bottom: 4.5rem;
  }

  footer ul li a {
    height: 40px;
    width: 40px;
  }

  footer p a {
    font-size: 14px;
  }

  footer p {
    font-size: 12px;
  }

  .abtImagesWrap.mr {
    grid-template-columns: repeat(1, 1fr);

    padding-left: 1rem;
  }

  .gridviewBox {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact.padSec {
    padding: 0;
  }



  .globalHeading.contact {
    margin-bottom: 2rem;
  }

  /* events inner */
  .event-inner-header {
    min-height: 248px;
  }

  .gallery-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .padSec {
    padding: 15px 0;
  }

  span.innerPageBlock {
    padding: 7%;
  }

  a.play-button {
    width: 35px;
    height: 35px;
  }

  .abtImagesWrap {
    padding: 20px 0;
  }

  .globalHeading.contactpage {
    margin-bottom: 2rem;
  }

  .contact-page a {
    font-size: 13px;
  }
}
